<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="UTF-8"/>
	<meta name="Description" content="HTML5 version of FlappyBird that runs on modern devices"/>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, user-scalable=0"/>

	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="mobile-web-app-capable" content="yes"/>

	<meta property="og:title" content="FlappyJS - My Browser Version of FlappyBird"/>
	<meta property="og:description" content="HTML5 version of FlappyBird that runs on modern devices"/>
	<meta property="og:image" content="http://jewkesy.github.io/Flappy/images/thumbnail.png"/>
	<meta property="og:url" content="http://jewkesy.github.io/Flappy/"/>
	<meta property="og:type" content="website"/>

	<title>FlappyJS - Browser Version of FlappyBird</title>
	<link rel="stylesheet" href="./gamefiles/css/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="./gamefiles/js/jquery-ui/jquery-ui.js"></script>
	<script src="./gamefiles/js/sprite.js"></script>
        <script src="./gamefiles/js/flappycar.js"></script>
	<script src="./cargame.js.php"></script>
</head>
<body>
	<noscript>
		<p>FlappyJS is a project I've been working on to bring FlappyBird to all devices.</p>
		<p>Created from the ground up using HTML5, it runs in most mobile browsers.</p>
		<p>I'm frequently updating the game with new features and bug fixes.</p>
	</noscript>
        <div> Current session number: {{session_number}}</div>
	<div id='consoleMe'></div>
	<div id='social'></div>
        <div id="rating_dialog">
            <div class="rating_txt">Please rate your shuttle experience</div>
            <div style="text-align: center;font-size: large">1 2 3 4 5</div>
            <div style="text-align: right">
                <span class="rating_txt">Do not show again</span>
                <input type="checkbox" id="rating_c_box" onclick="hideRatingDialog()" >
            </div>
        </div>
        <input type="button" onclick="showDialog();" value="Show dialog"/>
</body>
</html>

